
.container {
  margin: 2rem 2rem 2rem 200px;
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.section-wrapper{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}

.section{
  flex: 1;                /* 각 section이 1:1:1 비율로 */
  background-color: #f1f3f5;
  padding: 1rem;
  border-radius: 6px;
  text-align: center;

}
h2 {
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #0d3c75;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #0d3c75;
}
